@charset "utf-8";
/**********************************************
TOTO コメット
テーブル関連用CSS
***********************************************/
.tdw1 { width: 1px; }
.tdw2 { width: 2px; }
.tdw3 { width: 3px; }
.tdw4 { width: 4px; }
.tdw5 { width: 5px; }
.tdw6 { width: 6px; }
.tdw7 { width: 7px; }
.tdw8 { width: 8px; }
.tdw9 { width: 9px; }
.tdw10 { width: 10px; }
.tdw11 { width: 11px; }
.tdw12 { width: 12px; }
.tdw13 { width: 13px; }
.tdw14 { width: 14px; }
.tdw15 { width: 15px; }
.tdw16 { width: 16px; }
.tdw17 { width: 17px; }
.tdw18 { width: 18px; }
.tdw19 { width: 19px; }
.tdw20 { width: 20px; }
.tdw21 { width: 21px; }
.tdw22 { width: 22px; }
.tdw23 { width: 23px; }
.tdw24 { width: 24px; }
.tdw25 { width: 25px; }
.tdw26 { width: 26px; }
.tdw27 { width: 27px; }
.tdw28 { width: 28px; }
.tdw29 { width: 29px; }
.tdw30 { width: 30px; }
.tdw31 { width: 31px; }
.tdw32 { width: 32px; }
.tdw33 { width: 33px; }
.tdw34 { width: 34px; }
.tdw35 { width: 35px; }
.tdw36 { width: 36px; }
.tdw37 { width: 37px; }
.tdw38 { width: 38px; }
.tdw39 { width: 39px; }
.tdw40 { width: 40px; }
.tdw41 { width: 41px; }
.tdw42 { width: 42px; }
.tdw43 { width: 43px; }
.tdw44 { width: 44px; }
.tdw45 { width: 45px; }
.tdw46 { width: 46px; }
.tdw47 { width: 47px; }
.tdw48 { width: 48px; }
.tdw49 { width: 49px; }
.tdw50 { width: 50px; }
.tdw51 { width: 51px; }
.tdw52 { width: 52px; }
.tdw53 { width: 53px; }
.tdw54 { width: 54px; }
.tdw55 { width: 55px; }
.tdw56 { width: 56px; }
.tdw57 { width: 57px; }
.tdw58 { width: 58px; }
.tdw59 { width: 59px; }
.tdw60 { width: 60px; }
.tdw61 { width: 61px; }
.tdw62 { width: 62px; }
.tdw63 { width: 63px; }
.tdw64 { width: 64px; }
.tdw65 { width: 65px; }
.tdw66 { width: 66px; }
.tdw67 { width: 67px; }
.tdw68 { width: 68px; }
.tdw69 { width: 69px; }
.tdw70 { width: 70px; }
.tdw71 { width: 71px; }
.tdw72 { width: 72px; }
.tdw73 { width: 73px; }
.tdw74 { width: 74px; }
.tdw75 { width: 75px; }
.tdw76 { width: 76px; }
.tdw77 { width: 77px; }
.tdw78 { width: 78px; }
.tdw79 { width: 79px; }
.tdw80 { width: 80px; }
.tdw81 { width: 81px; }
.tdw82 { width: 82px; }
.tdw83 { width: 83px; }
.tdw84 { width: 84px; }
.tdw85 { width: 85px; }
.tdw86 { width: 86px; }
.tdw87 { width: 87px; }
.tdw88 { width: 88px; }
.tdw89 { width: 89px; }
.tdw90 { width: 90px; }
.tdw91 { width: 91px; }
.tdw92 { width: 92px; }
.tdw93 { width: 93px; }
.tdw94 { width: 94px; }
.tdw95 { width: 95px; }
.tdw96 { width: 96px; }
.tdw97 { width: 97px; }
.tdw98 { width: 98px; }
.tdw99 { width: 99px; }
.tdw100 { width: 100px; }
.tdw101 { width: 101px; }
.tdw102 { width: 102px; }
.tdw103 { width: 103px; }
.tdw104 { width: 104px; }
.tdw105 { width: 105px; }
.tdw106 { width: 106px; }
.tdw107 { width: 107px; }
.tdw108 { width: 108px; }
.tdw109 { width: 109px; }
.tdw110 { width: 110px; }
.tdw111 { width: 111px; }
.tdw112 { width: 112px; }
.tdw113 { width: 113px; }
.tdw114 { width: 114px; }
.tdw115 { width: 115px; }
.tdw116 { width: 116px; }
.tdw117 { width: 117px; }
.tdw118 { width: 118px; }
.tdw119 { width: 119px; }
.tdw120 { width: 120px; }
.tdw121 { width: 121px; }
.tdw122 { width: 122px; }
.tdw123 { width: 123px; }
.tdw124 { width: 124px; }
.tdw125 { width: 125px; }
.tdw126 { width: 126px; }
.tdw127 { width: 127px; }
.tdw128 { width: 128px; }
.tdw129 { width: 129px; }
.tdw130 { width: 130px; }
.tdw131 { width: 131px; }
.tdw132 { width: 132px; }
.tdw133 { width: 133px; }
.tdw134 { width: 134px; }
.tdw135 { width: 135px; }
.tdw136 { width: 136px; }
.tdw137 { width: 137px; }
.tdw138 { width: 138px; }
.tdw139 { width: 139px; }
.tdw140 { width: 140px; }
.tdw141 { width: 141px; }
.tdw142 { width: 142px; }
.tdw143 { width: 143px; }
.tdw144 { width: 144px; }
.tdw145 { width: 145px; }
.tdw146 { width: 146px; }
.tdw147 { width: 147px; }
.tdw148 { width: 148px; }
.tdw149 { width: 149px; }
.tdw150 { width: 150px; }
.tdw151 { width: 151px; }
.tdw152 { width: 152px; }
.tdw153 { width: 153px; }
.tdw154 { width: 154px; }
.tdw155 { width: 155px; }
.tdw156 { width: 156px; }
.tdw157 { width: 157px; }
.tdw158 { width: 158px; }
.tdw159 { width: 159px; }
.tdw160 { width: 160px; }
.tdw161 { width: 161px; }
.tdw162 { width: 162px; }
.tdw163 { width: 163px; }
.tdw164 { width: 164px; }
.tdw165 { width: 165px; }
.tdw166 { width: 166px; }
.tdw167 { width: 167px; }
.tdw168 { width: 168px; }
.tdw169 { width: 169px; }
.tdw170 { width: 170px; }
.tdw171 { width: 171px; }
.tdw172 { width: 172px; }
.tdw173 { width: 173px; }
.tdw174 { width: 174px; }
.tdw175 { width: 175px; }
.tdw176 { width: 176px; }
.tdw177 { width: 177px; }
.tdw178 { width: 178px; }
.tdw179 { width: 179px; }
.tdw180 { width: 180px; }
.tdw181 { width: 181px; }
.tdw182 { width: 182px; }
.tdw183 { width: 183px; }
.tdw184 { width: 184px; }
.tdw185 { width: 185px; }
.tdw186 { width: 186px; }
.tdw187 { width: 187px; }
.tdw188 { width: 188px; }
.tdw189 { width: 189px; }
.tdw190 { width: 190px; }
.tdw191 { width: 191px; }
.tdw192 { width: 192px; }
.tdw193 { width: 193px; }
.tdw194 { width: 194px; }
.tdw195 { width: 195px; }
.tdw196 { width: 196px; }
.tdw197 { width: 197px; }
.tdw198 { width: 198px; }
.tdw199 { width: 199px; }
.tdw200 { width: 200px; }
.tdw201 { width: 201px; }
.tdw202 { width: 202px; }
.tdw203 { width: 203px; }
.tdw204 { width: 204px; }
.tdw205 { width: 205px; }
.tdw206 { width: 206px; }
.tdw207 { width: 207px; }
.tdw208 { width: 208px; }
.tdw209 { width: 209px; }
.tdw210 { width: 210px; }
.tdw211 { width: 211px; }
.tdw212 { width: 212px; }
.tdw213 { width: 213px; }
.tdw214 { width: 214px; }
.tdw215 { width: 215px; }
.tdw216 { width: 216px; }
.tdw217 { width: 217px; }
.tdw218 { width: 218px; }
.tdw219 { width: 219px; }
.tdw220 { width: 220px; }
.tdw221 { width: 221px; }
.tdw222 { width: 222px; }
.tdw223 { width: 223px; }
.tdw224 { width: 224px; }
.tdw225 { width: 225px; }
.tdw226 { width: 226px; }
.tdw227 { width: 227px; }
.tdw228 { width: 228px; }
.tdw229 { width: 229px; }
.tdw230 { width: 230px; }
.tdw231 { width: 231px; }
.tdw232 { width: 232px; }
.tdw233 { width: 233px; }
.tdw234 { width: 234px; }
.tdw235 { width: 235px; }
.tdw236 { width: 236px; }
.tdw237 { width: 237px; }
.tdw238 { width: 238px; }
.tdw239 { width: 239px; }
.tdw240 { width: 240px; }
.tdw241 { width: 241px; }
.tdw242 { width: 242px; }
.tdw243 { width: 243px; }
.tdw244 { width: 244px; }
.tdw245 { width: 245px; }
.tdw246 { width: 246px; }
.tdw247 { width: 247px; }
.tdw248 { width: 248px; }
.tdw249 { width: 249px; }
.tdw250 { width: 250px; }
.tdw251 { width: 251px; }
.tdw252 { width: 252px; }
.tdw253 { width: 253px; }
.tdw254 { width: 254px; }
.tdw255 { width: 255px; }
.tdw256 { width: 256px; }
.tdw257 { width: 257px; }
.tdw258 { width: 258px; }
.tdw259 { width: 259px; }
.tdw260 { width: 260px; }
.tdw261 { width: 261px; }
.tdw262 { width: 262px; }
.tdw263 { width: 263px; }
.tdw264 { width: 264px; }
.tdw265 { width: 265px; }
.tdw266 { width: 266px; }
.tdw267 { width: 267px; }
.tdw268 { width: 268px; }
.tdw269 { width: 269px; }
.tdw270 { width: 270px; }
.tdw271 { width: 271px; }
.tdw272 { width: 272px; }
.tdw273 { width: 273px; }
.tdw274 { width: 274px; }
.tdw275 { width: 275px; }
.tdw276 { width: 276px; }
.tdw277 { width: 277px; }
.tdw278 { width: 278px; }
.tdw279 { width: 279px; }
.tdw280 { width: 280px; }
.tdw281 { width: 281px; }
.tdw282 { width: 282px; }
.tdw283 { width: 283px; }
.tdw284 { width: 284px; }
.tdw285 { width: 285px; }
.tdw286 { width: 286px; }
.tdw287 { width: 287px; }
.tdw288 { width: 288px; }
.tdw289 { width: 289px; }
.tdw290 { width: 290px; }
.tdw291 { width: 291px; }
.tdw292 { width: 292px; }
.tdw293 { width: 293px; }
.tdw294 { width: 294px; }
.tdw295 { width: 295px; }
.tdw296 { width: 296px; }
.tdw297 { width: 297px; }
.tdw298 { width: 298px; }
.tdw299 { width: 299px; }
.tdw300 { width: 300px; }
.tdw301 { width: 301px; }
.tdw302 { width: 302px; }
.tdw303 { width: 303px; }
.tdw304 { width: 304px; }
.tdw202 { width: 202px; }
.tdw740 { width: 740px; }

.tdmw1 { min-width: 1px; }
.tdmw2 { min-width: 2px; }
.tdmw3 { min-width: 3px; }
.tdmw4 { min-width: 4px; }
.tdmw5 { min-width: 5px; }
.tdmw6 { min-width: 6px; }
.tdmw7 { min-width: 7px; }
.tdmw8 { min-width: 8px; }
.tdmw9 { min-width: 9px; }
.tdmw10 { min-width: 10px; }
.tdmw11 { min-width: 11px; }
.tdmw12 { min-width: 12px; }
.tdmw13 { min-width: 13px; }
.tdmw14 { min-width: 14px; }
.tdmw15 { min-width: 15px; }
.tdmw16 { min-width: 16px; }
.tdmw17 { min-width: 17px; }
.tdmw18 { min-width: 18px; }
.tdmw19 { min-width: 19px; }
.tdmw20 { min-width: 20px; }
.tdmw21 { min-width: 21px; }
.tdmw22 { min-width: 22px; }
.tdmw23 { min-width: 23px; }
.tdmw24 { min-width: 24px; }
.tdmw25 { min-width: 25px; }
.tdmw26 { min-width: 26px; }
.tdmw27 { min-width: 27px; }
.tdmw28 { min-width: 28px; }
.tdmw29 { min-width: 29px; }
.tdmw30 { min-width: 30px; }
.tdmw31 { min-width: 31px; }
.tdmw32 { min-width: 32px; }
.tdmw33 { min-width: 33px; }
.tdmw34 { min-width: 34px; }
.tdmw35 { min-width: 35px; }
.tdmw36 { min-width: 36px; }
.tdmw37 { min-width: 37px; }
.tdmw38 { min-width: 38px; }
.tdmw39 { min-width: 39px; }
.tdmw40 { min-width: 40px; }
.tdmw41 { min-width: 41px; }
.tdmw42 { min-width: 42px; }
.tdmw43 { min-width: 43px; }
.tdmw44 { min-width: 44px; }
.tdmw45 { min-width: 45px; }
.tdmw46 { min-width: 46px; }
.tdmw47 { min-width: 47px; }
.tdmw48 { min-width: 48px; }
.tdmw49 { min-width: 49px; }
.tdmw50 { min-width: 50px; }
.tdmw51 { min-width: 51px; }
.tdmw52 { min-width: 52px; }
.tdmw53 { min-width: 53px; }
.tdmw54 { min-width: 54px; }
.tdmw55 { min-width: 55px; }
.tdmw56 { min-width: 56px; }
.tdmw57 { min-width: 57px; }
.tdmw58 { min-width: 58px; }
.tdmw59 { min-width: 59px; }
.tdmw60 { min-width: 60px; }
.tdmw61 { min-width: 61px; }
.tdmw62 { min-width: 62px; }
.tdmw63 { min-width: 63px; }
.tdmw64 { min-width: 64px; }
.tdmw65 { min-width: 65px; }
.tdmw66 { min-width: 66px; }
.tdmw67 { min-width: 67px; }
.tdmw68 { min-width: 68px; }
.tdmw69 { min-width: 69px; }
.tdmw70 { min-width: 70px; }
.tdmw71 { min-width: 71px; }
.tdmw72 { min-width: 72px; }
.tdmw73 { min-width: 73px; }
.tdmw74 { min-width: 74px; }
.tdmw75 { min-width: 75px; }
.tdmw76 { min-width: 76px; }
.tdmw77 { min-width: 77px; }
.tdmw78 { min-width: 78px; }
.tdmw79 { min-width: 79px; }
.tdmw80 { min-width: 80px; }
.tdmw81 { min-width: 81px; }
.tdmw82 { min-width: 82px; }
.tdmw83 { min-width: 83px; }
.tdmw84 { min-width: 84px; }
.tdmw85 { min-width: 85px; }
.tdmw86 { min-width: 86px; }
.tdmw87 { min-width: 87px; }
.tdmw88 { min-width: 88px; }
.tdmw89 { min-width: 89px; }
.tdmw90 { min-width: 90px; }
.tdmw91 { min-width: 91px; }
.tdmw92 { min-width: 92px; }
.tdmw93 { min-width: 93px; }
.tdmw94 { min-width: 94px; }
.tdmw95 { min-width: 95px; }
.tdmw96 { min-width: 96px; }
.tdmw97 { min-width: 97px; }
.tdmw98 { min-width: 98px; }
.tdmw99 { min-width: 99px; }
.tdmw100 { min-width: 100px; }
.tdmw101 { min-width: 101px; }
.tdmw102 { min-width: 102px; }
.tdmw103 { min-width: 103px; }
.tdmw104 { min-width: 104px; }
.tdmw105 { min-width: 105px; }
.tdmw106 { min-width: 106px; }
.tdmw107 { min-width: 107px; }
.tdmw108 { min-width: 108px; }
.tdmw109 { min-width: 109px; }
.tdmw110 { min-width: 110px; }
.tdmw111 { min-width: 111px; }
.tdmw112 { min-width: 112px; }
.tdmw113 { min-width: 113px; }
.tdmw114 { min-width: 114px; }
.tdmw115 { min-width: 115px; }
.tdmw116 { min-width: 116px; }
.tdmw117 { min-width: 117px; }
.tdmw118 { min-width: 118px; }
.tdmw119 { min-width: 119px; }
.tdmw120 { min-width: 120px; }
.tdmw121 { min-width: 121px; }
.tdmw122 { min-width: 122px; }
.tdmw123 { min-width: 123px; }
.tdmw124 { min-width: 124px; }
.tdmw125 { min-width: 125px; }
.tdmw126 { min-width: 126px; }
.tdmw127 { min-width: 127px; }
.tdmw128 { min-width: 128px; }
.tdmw129 { min-width: 129px; }
.tdmw130 { min-width: 130px; }
.tdmw131 { min-width: 131px; }
.tdmw132 { min-width: 132px; }
.tdmw133 { min-width: 133px; }
.tdmw134 { min-width: 134px; }
.tdmw135 { min-width: 135px; }
.tdmw136 { min-width: 136px; }
.tdmw137 { min-width: 137px; }
.tdmw138 { min-width: 138px; }
.tdmw139 { min-width: 139px; }
.tdmw140 { min-width: 140px; }
.tdmw141 { min-width: 141px; }
.tdmw142 { min-width: 142px; }
.tdmw143 { min-width: 143px; }
.tdmw144 { min-width: 144px; }
.tdmw145 { min-width: 145px; }
.tdmw146 { min-width: 146px; }
.tdmw147 { min-width: 147px; }
.tdmw148 { min-width: 148px; }
.tdmw149 { min-width: 149px; }
.tdmw150 { min-width: 150px; }
.tdmw151 { min-width: 151px; }
.tdmw152 { min-width: 152px; }
.tdmw153 { min-width: 153px; }
.tdmw154 { min-width: 154px; }
.tdmw155 { min-width: 155px; }
.tdmw156 { min-width: 156px; }
.tdmw157 { min-width: 157px; }
.tdmw158 { min-width: 158px; }
.tdmw159 { min-width: 159px; }
.tdmw160 { min-width: 160px; }
.tdmw161 { min-width: 161px; }
.tdmw162 { min-width: 162px; }
.tdmw163 { min-width: 163px; }
.tdmw164 { min-width: 164px; }
.tdmw165 { min-width: 165px; }
.tdmw166 { min-width: 166px; }
.tdmw167 { min-width: 167px; }
.tdmw168 { min-width: 168px; }
.tdmw169 { min-width: 169px; }
.tdmw170 { min-width: 170px; }
.tdmw171 { min-width: 171px; }
.tdmw172 { min-width: 172px; }
.tdmw173 { min-width: 173px; }
.tdmw174 { min-width: 174px; }
.tdmw175 { min-width: 175px; }
.tdmw176 { min-width: 176px; }
.tdmw177 { min-width: 177px; }
.tdmw178 { min-width: 178px; }
.tdmw179 { min-width: 179px; }
.tdmw180 { min-width: 180px; }
.tdmw181 { min-width: 181px; }
.tdmw182 { min-width: 182px; }
.tdmw183 { min-width: 183px; }
.tdmw184 { min-width: 184px; }
.tdmw185 { min-width: 185px; }
.tdmw186 { min-width: 186px; }
.tdmw187 { min-width: 187px; }
.tdmw188 { min-width: 188px; }
.tdmw189 { min-width: 189px; }
.tdmw190 { min-width: 190px; }
.tdmw191 { min-width: 191px; }
.tdmw192 { min-width: 192px; }
.tdmw193 { min-width: 193px; }
.tdmw194 { min-width: 194px; }
.tdmw195 { min-width: 195px; }
.tdmw196 { min-width: 196px; }
.tdmw197 { min-width: 197px; }
.tdmw198 { min-width: 198px; }
.tdmw199 { min-width: 199px; }
.tdmw200 { min-width: 200px; }
.tdmw201 { min-width: 201px; }
.tdmw202 { min-width: 202px; }
.tdmw203 { min-width: 203px; }
.tdmw204 { min-width: 204px; }
.tdmw205 { min-width: 205px; }
.tdmw206 { min-width: 206px; }
.tdmw207 { min-width: 207px; }
.tdmw208 { min-width: 208px; }
.tdmw209 { min-width: 209px; }
.tdmw210 { min-width: 210px; }
.tdmw211 { min-width: 211px; }
.tdmw212 { min-width: 212px; }
.tdmw213 { min-width: 213px; }
.tdmw214 { min-width: 214px; }
.tdmw215 { min-width: 215px; }
.tdmw216 { min-width: 216px; }
.tdmw217 { min-width: 217px; }
.tdmw218 { min-width: 218px; }
.tdmw219 { min-width: 219px; }
.tdmw220 { min-width: 220px; }
.tdmw221 { min-width: 221px; }
.tdmw222 { min-width: 222px; }
.tdmw223 { min-width: 223px; }
.tdmw224 { min-width: 224px; }
.tdmw225 { min-width: 225px; }
.tdmw226 { min-width: 226px; }
.tdmw227 { min-width: 227px; }
.tdmw228 { min-width: 228px; }
.tdmw229 { min-width: 229px; }
.tdmw230 { min-width: 230px; }
.tdmw231 { min-width: 231px; }
.tdmw232 { min-width: 232px; }
.tdmw233 { min-width: 233px; }
.tdmw234 { min-width: 234px; }
.tdmw235 { min-width: 235px; }
.tdmw236 { min-width: 236px; }
.tdmw237 { min-width: 237px; }
.tdmw238 { min-width: 238px; }
.tdmw239 { min-width: 239px; }
.tdmw240 { min-width: 240px; }
.tdmw241 { min-width: 241px; }
.tdmw242 { min-width: 242px; }
.tdmw243 { min-width: 243px; }
.tdmw244 { min-width: 244px; }
.tdmw245 { min-width: 245px; }
.tdmw246 { min-width: 246px; }
.tdmw247 { min-width: 247px; }
.tdmw248 { min-width: 248px; }
.tdmw249 { min-width: 249px; }
.tdmw250 { min-width: 250px; }
.tdmw251 { min-width: 251px; }
.tdmw252 { min-width: 252px; }
.tdmw253 { min-width: 253px; }
.tdmw254 { min-width: 254px; }
.tdmw255 { min-width: 255px; }
.tdmw256 { min-width: 256px; }
.tdmw257 { min-width: 257px; }
.tdmw258 { min-width: 258px; }
.tdmw259 { min-width: 259px; }
.tdmw260 { min-width: 260px; }
.tdmw261 { min-width: 261px; }
.tdmw262 { min-width: 262px; }
.tdmw263 { min-width: 263px; }
.tdmw264 { min-width: 264px; }
.tdmw265 { min-width: 265px; }
.tdmw266 { min-width: 266px; }
.tdmw267 { min-width: 267px; }
.tdmw268 { min-width: 268px; }
.tdmw269 { min-width: 269px; }
.tdmw270 { min-width: 270px; }
.tdmw271 { min-width: 271px; }
.tdmw272 { min-width: 272px; }
.tdmw273 { min-width: 273px; }
.tdmw274 { min-width: 274px; }
.tdmw275 { min-width: 275px; }
.tdmw276 { min-width: 276px; }
.tdmw277 { min-width: 277px; }
.tdmw278 { min-width: 278px; }
.tdmw279 { min-width: 279px; }
.tdmw280 { min-width: 280px; }
.tdmw281 { min-width: 281px; }
.tdmw282 { min-width: 282px; }
.tdmw283 { min-width: 283px; }
.tdmw284 { min-width: 284px; }
.tdmw285 { min-width: 285px; }
.tdmw286 { min-width: 286px; }
.tdmw287 { min-width: 287px; }
.tdmw288 { min-width: 288px; }
.tdmw289 { min-width: 289px; }
.tdmw290 { min-width: 290px; }
.tdmw291 { min-width: 291px; }
.tdmw292 { min-width: 292px; }
.tdmw293 { min-width: 293px; }
.tdmw294 { min-width: 294px; }
.tdmw295 { min-width: 295px; }
.tdmw296 { min-width: 296px; }
.tdmw297 { min-width: 297px; }
.tdmw298 { min-width: 298px; }
.tdmw299 { min-width: 299px; }
.tdmw300 { min-width: 300px; }
.tdmw301 { min-width: 301px; }
.tdmw302 { min-width: 302px; }
.tdmw303 { min-width: 303px; }
.tdmw304 { min-width: 304px; }
.tdmw202 { min-width: 202px; }
.tdmw740 { min-width: 740px; }

.noWarp {
	-ms-word-break: normal !important;
	word-break: normal !important;
}


/*  downloadTable
----------------------------------------------------------------------*/
.downloadTable {
	margin: 0;
}
.downloadTable .even {
	background: #edf5ff;
}
.downloadTable th,
.downloadTable td {
	padding: 8px 15px;
	vertical-align: middle;
}
.downloadTable thead th,
.downloadTable thead td {
	background: #eee;
	padding: 13px 15px;
}
.downloadTable .long {
	width: 290px;
}
.downloadTable .mid {
	width: 95px;
}
.downloadTable .short {
	width: 64px;
}
.downloadTable .min {
	width: 45px;
}
.downloadTable .colord {
	color: #1152b2;
}
.downloadTable span {
	font-size: 93.33%;
}
.downloadTable .downloadBtn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: middle;
	text-align: center;
	width: 65px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	font-size: 86.66%;
	background: #1152b2;
}
.downloadTable .downloadBtn:hover {
	text-decoration: none;
	background: #5986c9;
}
.downloadTable .downloadBtn.beforePdf:before,
.downloadTable .downloadBtn[href$=".pdf"]:before {
	content: 'pdf';
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: middle;
	background: url(../../img/default/icon/icon_pdf.gif) 0 0 no-repeat;
	width: 14px;
	height: 17px;
	text-indent: -9999px;
	margin: 0 4px 0 0;
}

/*  resultTable
----------------------------------------------------------------------*/
.resultTable td {
	width: 50%;
	overflow:hidden;
	*zoom:1;
	padding: 20px;
	vertical-align: top;
}
.resultTable .btns li {
	display: block;
}
.resultTable .btn {
	display: block;
	width: auto;
}
.resultTable .labels {
	overflow:hidden;
	*zoom:1;
	margin: 0 -10px -2px 0;
}
.resultTable .labels li {
	float: left;
	margin: 0 10px 10px 0;
}

/*  .cartTable
----------------------------------------------------------------------*/
.cartTable thead th {
	text-align: center;
	padding: 5px;
}
.cartTable .even {
	background: #edf5ff;
}
.cartTable td {
	padding: 20px;
}
.cartTable .number {
	text-align: center;
}
.cartTable .img {
	text-align: center;
	width: 72px;
}
.cartTable .select {
	text-align: center;
	width: 74px;
}
.cartTable .select .select02 .easy-select-box .esb-displayer {
	width: 26px;
}
.cartTable .operate {
	text-align: center;
	width: 120px;
}
.cartTable .operate .btn {
	width: 94px;
}
.cartTable .img img {
	max-width: 72px;
}

.cartTable dt {
	font-weight: bold;
}
.cartTable .labelNew {
	background: url(../../img/default/icon/label_new.gif) 0 5px no-repeat;
	padding-left: 35px;
}


/*  formatTable
----------------------------------------------------------------------*/
.formatTable {
	background: #eee;
}
.formatTable td {
	width: 50%;
	padding: 14px 15px;
}
.formatTable dt,
.formatTable dd {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: middle;
	margin: 0 22px 0 0;
}
.formatTable dt {
	font-weight: bold;
	font-size: 106.66%;
}

/*  .basketTable
----------------------------------------------------------------------*/
.basketTable thead th {
	padding: 15px;
}
.basketTable .even {
	background: #edf5ff;
}
.basketTable tbody th,
.basketTable tbody td {
	padding: 20px;
}
.basketTable .newLabel {
	margin-bottom: 5px;
	line-height: 1;
}
.basketTable .selectArea {
	text-align: center;
	width: 120px;
}
.basketTable .selectArea .btn {
	width: 120px;
	padding: 0;
}
.basketTable .selectArea .btn-cart-removeAll {
	width: 150px;
}
.basketTable .img {
	border: 1px solid #ccc;
	padding: 1px;
	width: 168px;
	float: left;
	margin: 0 20px 0 0;
}
.basketTable .img img {
	max-width: 168px;
}
.basketTable dt,
.basketTable dd {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: top;
}
.basketTable dd {
	-ms-word-break: break-all;
	word-break: break-all;
	width: 435px;
}

.basketTable .labels {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: top;
	margin: 20px 0;
	line-height: 26px;
}
.basketTable .label2d {
	width: 275px;
}
.basketTable .label3d {
	width: 220px;
}
.basketTable .label3d dd {
	width: 175px;
}
.basketTable .labels .label {
	font-size: 86.66%;
	font-weight: bold;
	background: #eee;
	border: 1px solid #ccc;
	width: 53px;
	height: 26px;
	text-align: center;
}

/*  eventTable
----------------------------------------------------------------------*/
.eventTable thead th{
	text-align: center;
}
.eventTable td {
	vertical-align: top;
	padding: 20px 15px;
}
.eventTable .even {
	background: #edf5ff;
}
.eventTable .btn {
	height: 28px;
	line-height: 28px;
	font-size: 86.66%;
}
.eventTable .btn {
	width: 90px;
	padding: 0 10px;
}
.eventTable .btn.md-short {
	width: 51px;
	padding: 0 10px;
}
.eventTable .col01 {
	width: 180px;
}
.eventTable .col02 {
	width: 250px;
}
.eventTable .col03 {
	width: 75px;
	text-align: center;
	vertical-align: middle;
}
.eventTable .col04 {
	width: 143px;
}

.eventTable .col05 {
	text-align: center;
	vertical-align: middle;
}
/*  productTable
----------------------------------------------------------------------*/
.productTable thead th {
	text-align: center;
}
.productTable tbody th,
.productTable tbody td {
	padding: 18px 20px;
}
.productTable tbody th {
	vertical-align: middle;
	background: #fff;
	width: 100px;
	padding: 18px 30px;
}
.productTable tbody th div a {
	display: block;
}
.productTable img {
	max-width: 100px;
}
.ie7_html .productTable img {
	max-width: none;
	width: 100px;
}

.productTable .productInfo {
	position: relative;
	margin: 0 0 15px;
}
.productTable .productInfo dt,
.productTable .productInfo dd {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: top;
}
.productTable .productInfo dt {
	width: 6.1em;
	margin: 0 8px 0 0;
}
.productTable .productInfo dd {
	width: 460px;
	-ms-word-break: break-all;
	word-break: break-all;
	padding-left: 20px;
	text-indent: -20px;
}
.productTable .productInfo .zumen {
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 30px;
	padding: 0;
	line-height: 30px;
}
.productTable .productInfo .zumen a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	color: #fff;
}
.productTable .productInfo .zumen a span {
	height: 30px;
	line-height: 31px;
	font-size: 14px;
}
.productTable .productInfo .zumen .zumen_disabled {
	display: block;
	background: #f3f3f3;
	text-align: center;
	color: #bebdb8;
}
.productTable .productInfo .price {
	font-family: 'メイリオ','ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro',Verdana,Arial,sans-serif,Osaka;
}
.productTable .productInfo b {
	color: #1152b2;
	font-weight: normal;
}
.productTable .productLabels {
	letter-spacing: -.4em;
}
.productTable .productLabels_item {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width: 97px;
	height: 30px;
	line-height: 30px;
	vertical-align: top;
	margin-right: 6px;
	letter-spacing: 0;
	overflow: hidden;
}
.productTable .productLabels_item a {
	width: 100%;
	height: 100%;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
}
.productTable .productLabels_disabled {
	display: block;
	background: #f3f3f3;
	text-align: center;
	color: #bebdb8;
}
.productTable .productLabels .label {
	width: 109px;
	padding: 0;
	height: 30px;
	line-height: 30px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: top;
	text-align: center;
}
.productTable .productLabels .label.md-color06 {
	background: #eee;
	color: #222;
}
.productTable .productLabels .label.md-blank {
	text-indent: -9999px;
	background: none;
}
.productTable .productLabels .zumenPdf {
	background: url(../../img/default/icon/icon_pdf.gif) 80px center no-repeat;
	display: block;
}

.productColorInfo {
	position: relative;
	margin-top: 15px;
	padding: 10px;
	border: 2px solid #ccc;
}
.productColorInfo-noBorder {
	border: none;
	padding: 0;
}
.productColorInfo.detail {
	width: 710px;
	margin: 30px auto 5px;
	background: #fff;
}
.productColorInfo .exclamation {
	padding-left: 25px;
	background: url(../../img/default/icon/icon_exclamation.png) left top no-repeat;
}
.productColorInfo ul {
	margin: 10px 5px 0 5px;
	letter-spacing: -.4em;
	list-style-position: inside;
	list-style-type: disc;
}
.productColorInfo ul li {
	position: relative;
	display:inline-block;
	*display:inline;
	*zoom:1;
	letter-spacing: 0;
}
.productColorInfo ul li span {
	position: relative;
	display: inline-block;
	*display:inline;
	*zoom:1;
	margin-left: 25px;
	padding-left: 15px;
}
.productColorInfo ul li span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	display: block;
	width: 7px;
	height: 7px;
	margin-top: -3.5px;
	border-radius: 3.5px;
	background: #000;
}
.productColorLink {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 188px;
	height: 28px;
	padding: 0;
}
.productColorInfo-noBorder .productColorLink {
	bottom: 0;
}
.productColorLink a {
	width: 100%;
	height: 100%;
	padding: 0;
	font-size: 15px;
	line-height: 28px;
}
